/* Search
******************************
*/
#search-wrap { float: right; padding-top: 7px; margin-right: 20px; text-align: right; }
	#search { float: left; *border: 1px solid #434343; margin-right: 5px; padding-left: 5px; background: #e3e3e3; border-radius: 6px;
    *box-shadow: 1px 1px 1px #404040 inset; border: 1px solid #434343;
    box-shadow: 0 1px 3px rgba(50,50,50,0.75) inset; }
	#search input[type="text"] { border: none; background: none; color: #3e3e3e; padding: 3px; font-size: 14px; font-family: 'Open Sans', sans-serif;
    }
	#button { border: none; background: none; background: url(../layout/images/search.png) no-repeat; background-size: 20px 18px; width: 20px; cursor: pointer; opacity: 0.7; }
    #button:hover { opacity: 1; }

#search-wrap #erweiterte_suche_button { color: #b5b5b5; font-size: 18px; *padding-top: 15px; }
#search-wrap #erweiterte_suche_button.erweiterte_suche_active, #search-wrap #erweiterte_suche_button:hover { color: #fff; text-decoration: underline; }

.anim1 { position: absolute; width: 100px; height: 26px; background: url(images/hint1.png) no-repeat; background-size: 100px 26px;
right: 350px; top: 10px; display: none; }

/* Content
******************************
*/
#content { padding: 20px 0px; min-height: 500px; }

    #id { text-align: right; font-weight: 700; text-transform: uppercase; margin-bottom: 20px; }

    /* Jump-To
    ******************************
    */
    #jump-to-wrap { background: #f2f2f2; padding: 10px 0px; margin-bottom: 10px; border: 1px solid #d2d2d2; }
    #jump-to { text-align: center; }
    #jump-to label { font-size: 14px; color: #545454; }
/*    #jump-to .input { width: 80px; border: none; margin: 0 5px; font-size: 14px; padding: 5px 6px; box-shadow: inset 0px 1px 3px #898989; border-radius: 3px; font-family: 'Open Sans', sans-serif; }*/
    #jump-to input[type="text"] { width: 80px; border: none; margin: 0 5px; font-size: 14px; padding: 3px 5px; box-shadow: inset 0px 1px 3px #898989; border-radius: 3px; font-family: 'Open Sans', sans-serif; }
/*    #jump-to .submit-button { background: #9e9e9e; color: #fff; font-size: 12px; border: none; padding: 4px 6px; border-radius: 6px; font-family: 'Open Sans', sans-serif; }*/
    #jump-to input[type="submit"] { background: #f2f2f2; cursor: pointer; padding: 3px 10px; font-size: 14px; color: #333; font-weight: 700;
    border: 1px solid #d2d2d2;
    border-radius: 6px; }
    #jump-to input[type="submit"]:hover { background: #eaeaea; border: 1px solid #b9b9b9; }

    #jump-1 { margin-right: 20px; padding: 5px; border: 1px solid #e3e3e3; border-radius: 6px; background: #fff; }
    #jump-2 { margin-left: 20px; padding: 5px; border: 1px solid #e3e3e3; border-radius: 6px; background: #fff; }
    #jump-1, #jump-2 { display: inline-block; }

	/* Pager
	******************************
	*/
	.pager-wrap { margin: 0 auto; text-align: center; *background: #f2f2f2; *border: 1px solid #d2d2d2;
        padding: 5px 0; width: 400px; margin-bottom: 20px; }
	.pager-wrap a { *background: #6e6e6e; *padding: 5px 6px; *margin: 0 5px; text-decoration: none; *color: #fff; }

    .prev::before {
    content: "\00a0<";
}



    .next::before {
    content: ">";
}
     /* note: "position: static !important" has been added here else we might get conflicts with ut-typo3 */
    .prev, .next { width: 20px; height: 20px; background-size: 20px; position: static !important }
    .prev_end::before {
    content: "<<";
}

    .next_end::before{
    content: "\00a0>>";
}
    .prev_end, .next_end { width: 28px; height: 20px; background-size: 28px; }
    .prev, .next, .prev_end, .next_end { vertical-align: top; display: flex; background-repeat: no-repeat; cursor: pointer; }

    .prev::before,
.next::before,
.prev_end::before,
.next_end::before {
    display: inline-block;
    width: 20px; /* Breite des Pseudoelements */
    height: 20px; /* Höhe des Pseudoelements */
    transform: scale(1.5); /* Ändert die Größe um 1.5 */
     margin-right: 5px; /* Fügt rechts 5px Abstand hinzu */
     margin-left: 5px; /* Fügt rechts 5px Abstand hinzu */
}

    .pager { opacity: 0.8; }
    .pager:hover { opacity: 1; }
    .counter { vertical-align: middle; padding: 0 10px; }

    .pager-wrap a:hover { *background: #494949; }


	/* Search-Output d2d2d2
	******************************
	*/
    #level_function { margin-bottom: 40px; }


	/* Content-Table
	******************************
	*/
	.content-table { width: 1100px; margin-bottom: 40px; overflow: visible; }
	.content-table p { padding: 3px 6px; text-align: left; }

	.content-table th { width: 200px; vertical-align: top; font-weight: 700; text-align: left; }
    .content-table tr td, .content-table tr th { padding: 10px 6px; }
    .content-table table td, .content-table table th { padding: 0 6px; padding-bottom: 5px; }

	.content-table tr th p { font-weight: 700; }
	.content-table tr td p {  }


    /*    //.content-table tr:hover { background: #bfbfbf; }   */

		/* Einzelbelege
		******************************
		*/
		#textkritik .content-table th:nth-child(5n), #textkritik .content-table td:nth-child(5n) { border-right: none; }
        #textkritik td { padding: 10px 6px; }
        #textkritik tr:first-child { background: #ababab; }

		/* Personen
		******************************
		*/
		#personen-table table th { border: none; }
        #personen-table table tr { background: none; }
		#personen-table table th, .personen-table table td { background: none; }
        #personen-table table p { background: none; }

		#einzelbelege th { width: auto; }
		#einzelbelege th:nth-child(6n) { width: 400px; }
		#einzelbelege th, #einzelbelege td {  }
		#einzelbelege th:nth-child(6n), #einzelbelege td:nth-child(6n) { border-right: none; }
        #einzelbelege tr:first-child { background: #ababab; }

		/* Namen
		******************************
		*/
		#namen-insgesamt { }
		#namen-insgesamt p, #namen-insgesamt a, #namen-insgesamt td { font-size: 12px; line-height: 16px;}
		#namen-insgesamt th, #namen-insgesamt td { width: 100px; }

		#namen-insgesamt th:nth-child(5n), #namen-insgesamt td:nth-child(5n),
        #namen-insgesamt th:nth-child(9n), #namen-insgesamt td:nth-child(9n) { width: 150px; }
		#namen-insgesamt th:nth-child(12n), #namen-insgesamt td:nth-child(12n) { border-right: none; }
		#namen-insgesamt th:nth-child(11n), #namen-insgesamt td:nth-child(11n) { width: 50px; }
        #namen-insgesamt tr:first-child { background: #ababab; }

		/* Quelle
		******************************
		*/
		#quelle-table table th, #quelle-table table td {  }
		#quelle-table table th:nth-child(8n), #quelle-table table td:nth-child(8n) { border-right: none;}
		#quelle-table table tr { border: none; background: none; }

		#ueberlieferung th, #ueberlieferung td {  }
		#ueberlieferung th:nth-child(4n), #ueberlieferung td:nth-child(4n) { border-right: none; }
        #ueberlieferung tr:first-child { background: #ababab; }

        #urkunden .content-table table tr { background: none; }

    /* Erweiterte Suche
    ******************************
    */

    .hide { display: none; }

    #erweiterte-suche .gruppierung label { cursor: pointer; }


/* Footer
******************************
*/
/*    //#footer-wrap { width: 100%; background: #464646; min-width: 1100px; }   */
#footer { background: #808080; *margin-left: 50px; *margin: 0 auto; *width: 1100px; padding: 20px; text-align: center; font-family: 'Alegreya Sans SC', sans-serif; }
#footer p, #footer a { color: #ffffff; font-size: 18px; }
#footer p {  line-height: 26px; color: #ffffff; }
#footer h3 { color: #565656; font-size: 16px; font-weight: bold; }
#footer a:hover { color: #ffffff; }

    #footer-menu { margin-bottom: 20px; }
/*    #footer-menu a+a:before { content: "| "; padding: 0 2px; }*/
    #footer-mneu a { }
    #footer-menu a { font-weight: bold; }

    #footer-contact {  }
    #footer-contact span { *margin: 0 10px; margin: 0; padding: 0; }
    #footer-contact span+span:before { content: "- "; padding: 0 5px; }


/* autocomplete */
.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #BF3D3D; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }

/*
Die Breite der Text Felder(Erweiterte Suche) anpassen.
Dies ist notwendig, da die Breite für TextFelder in inc.erzeugeFormular fix auf 250px ist.
Um Seiteneffekte zu ermeiden lasse ich das so und setze die neue Breite hier mit css
*/
#erweiterte-suche #tab-1 .ut-table__row > td:nth-child(2) input {
    width: 350px !important;
}


#erweiterte-suche #tab-1 .ut-table__row > td:nth-child(2) select {
    width: 350px !important;
}

#erweiterte-suche #tab-1 .ut-table__row > td:first-child {
    width: 370px !important;
}

.jumpIDBoxWrapper{
    margin-right: 3px !important;
}

/*
   Anpassung für mobile Ansicht. Das Menu Item und Wrapper müssen geändert werden damit das input Feld jumToID richtig dargestellt wird.
*/
/* Nur in mobiler Ansicht anzeigen. Die Regel geht aus webapp/gast/vendor/ut-typo3/css/merged.css heraus */
@media only screen and (max-width: 1039px) {
    .mobile-fix-menu-item {
        border-bottom: 0px !important;/*underline wird im wrapper angezeigt damit es auch das input feld miteinschließt*/
    }

    /*typo3 ut style für den wrapper mit underline*/
    .mobile-fix-menu-item-wrapper {
        padding: .5rem 1rem;
        text-decoration: none;
        color: #444e57;
        border-bottom: 1px solid #dddddd;
        font-size: 1.143rem;
        line-height: 2;
    }
}

/*Löst das Problem das in der Desktop Ansicht das jumpToID Feld nicht ganz dargestellt wird*/
@media only screen and (min-width: 1040px) {
  .menuBarFitcontent {
    width: fit-content !important;
  }
}

.autocomplete-input {
    width: 250px;
}

.filter-title {
    height: 40px;
}

.tooltip-link {
    text-decoration: none;
    color: gray;
}
