<?xml version="1.0" encoding="UTF-8"?>
<web-app metadata-complete="true" version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>Nomen et Gens</display-name>

    <!-- SERVLET GROUP 1: GAST / PUBLIC -->
    <servlet>
        <servlet-name>DoJumpServlet</servlet-name>
        <servlet-class>de.uni_tuebingen.ub.nppm.servlet.gast.DoJumpServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DoJumpServlet</servlet-name>
        <url-pattern>/gast/dojumpid</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EinzelbelegServlet</servlet-name>
        <servlet-class>de.uni_tuebingen.ub.nppm.servlet.gast.EinzelbelegServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EinzelbelegServlet</servlet-name>
        <url-pattern>/gast/einzelbeleg</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ExportCsvServlet</servlet-name>
        <servlet-class>de.uni_tuebingen.ub.nppm.servlet.gast.ExportCsvServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExportCsvServlet</servlet-name>
        <url-pattern>/gast/export_csv</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ImpressumServlet</servlet-name>
        <servlet-class>de.uni_tuebingen.ub.nppm.servlet.gast.ImpressumServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ImpressumServlet</servlet-name>
        <url-pattern>/gast/impressum</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NamenServlet</servlet-name>
        <servlet-class>de.uni_tuebingen.ub.nppm.servlet.gast.NamenServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NamenServlet</servlet-name>
        <url-pattern>/gast/lemma</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PersonServlet</servlet-name>
        <servlet-class>de.uni_tuebingen.ub.nppm.servlet.gast.PersonServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PersonServlet</servlet-name>
        <url-pattern>/gast/person</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>QuelleServlet</servlet-name>
        <servlet-class>de.uni_tuebingen.ub.nppm.servlet.gast.QuelleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>QuelleServlet</servlet-name>
        <url-pattern>/gast/quelle</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RedirectIdServlet</servlet-name>
        <servlet-class>de.uni_tuebingen.ub.nppm.servlet.gast.RedirectIdServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RedirectIdServlet</servlet-name>
        <url-pattern>/id/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RedirectGndServlet</servlet-name>
        <servlet-class>de.uni_tuebingen.ub.nppm.servlet.gast.RedirectGndServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RedirectGndServlet</servlet-name>
        <url-pattern>/gnd/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SharedHtmlServlet</servlet-name>
        <servlet-class>de.uni_tuebingen.ub.nppm.servlet.gast.SharedHtmlServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SharedHtmlServlet</servlet-name>
        <url-pattern>/gast/infos</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>StaticHtmlServlet</servlet-name>
        <servlet-class>de.uni_tuebingen.ub.nppm.servlet.gast.StaticHtmlServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StaticHtmlServlet</servlet-name>
        <url-pattern>/gast/static</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SucheServlet</servlet-name>
        <servlet-class>de.uni_tuebingen.ub.nppm.servlet.gast.SucheServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SucheServlet</servlet-name>
        <url-pattern>/gast/einfaches_ergebnis</url-pattern>
    </servlet-mapping>
        <servlet>
        <servlet-name>FrontendErweiterteSucheServlet</servlet-name>
        <servlet-class>de.uni_tuebingen.ub.nppm.servlet.gast.ErweiterteSucheServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FrontendErweiterteSucheServlet</servlet-name>
        <url-pattern>/gast/freie_suche</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FrontendErweiterteSucheErgebnisServlet</servlet-name>
        <servlet-class>de.uni_tuebingen.ub.nppm.servlet.gast.ErweiterteSucheErgebnisServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FrontendErweiterteSucheErgebnisServlet</servlet-name>
        <url-pattern>/gast/suchergebnis</url-pattern>
    </servlet-mapping>

    <!-- SERVLET GROUP 2: BACKEND -->
    <servlet>
        <servlet-name>BackendEinzelbelegServlet</servlet-name>
        <servlet-class>de.uni_tuebingen.ub.nppm.servlet.backend.EinzelbelegServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BackendEinzelbelegServlet</servlet-name>
        <url-pattern>/einzelbeleg</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BackendEinzelbelegCompServlet</servlet-name>
        <servlet-class>de.uni_tuebingen.ub.nppm.servlet.backend.EinzelbelegCompServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BackendEinzelbelegCompServlet</servlet-name>
        <url-pattern>/einzelbeleg_comp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BackendNamenkommentarServlet</servlet-name>
        <servlet-class>de.uni_tuebingen.ub.nppm.servlet.backend.NamenkommentarServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BackendNamenkommentarServlet</servlet-name>
        <url-pattern>/namenkommentar</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BackendPersonServlet</servlet-name>
        <servlet-class>de.uni_tuebingen.ub.nppm.servlet.backend.PersonServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BackendPersonServlet</servlet-name>
        <url-pattern>/person</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BackendBerechneDateiSpracheServlet</servlet-name>
        <servlet-class>de.uni_tuebingen.ub.nppm.servlet.backend.BerechneDateiSpracheServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BackendBerechneDateiSpracheServlet</servlet-name>
        <url-pattern>/berechne</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BackendEditionServlet</servlet-name>
        <servlet-class>de.uni_tuebingen.ub.nppm.servlet.backend.EditionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BackendEditionServlet</servlet-name>
        <url-pattern>/edition</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BackendAdminServlet</servlet-name>
        <servlet-class>de.uni_tuebingen.ub.nppm.servlet.backend.AdministrationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BackendAdminServlet</servlet-name>
        <url-pattern>/administration</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BackendAdminAuswahlServlet</servlet-name>
        <servlet-class>de.uni_tuebingen.ub.nppm.servlet.backend.AdministrationAuswahlServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BackendAdminAuswahlServlet</servlet-name>
        <url-pattern>/admin-auswahlfelder</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BackendDatenpflegeServlet</servlet-name>
        <servlet-class>de.uni_tuebingen.ub.nppm.servlet.backend.DatenpflegeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BackendDatenpflegeServlet</servlet-name>
        <url-pattern>/datenpflege</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BackendHandschriftServlet</servlet-name>
        <servlet-class>de.uni_tuebingen.ub.nppm.servlet.backend.HandschriftServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BackendHandschriftServlet</servlet-name>
        <url-pattern>/handschrift</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BackendSucheServlet</servlet-name>
        <servlet-class>de.uni_tuebingen.ub.nppm.servlet.backend.SucheServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BackendSucheServlet</servlet-name>
        <url-pattern>/suche</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BackendLogoutServlet</servlet-name>
        <servlet-class>de.uni_tuebingen.ub.nppm.servlet.backend.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BackendLogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BackendFreieSucheServlet</servlet-name>
        <servlet-class>de.uni_tuebingen.ub.nppm.servlet.backend.FreieSucheServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BackendFreieSucheServlet</servlet-name>
        <url-pattern>/freie_suche</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BackendFreieSucheErgebnisServlet</servlet-name>
        <servlet-class>de.uni_tuebingen.ub.nppm.servlet.backend.FreieSucheErgebnisServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BackendFreieSucheErgebnisServlet</servlet-name>
        <url-pattern>/suchergebnis</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BackendQuelleServlet</servlet-name>
        <servlet-class>de.uni_tuebingen.ub.nppm.servlet.backend.QuelleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BackendQuelleServlet</servlet-name>
        <url-pattern>/quelle</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ContentServlet</servlet-name>
        <servlet-class>de.uni_tuebingen.ub.nppm.servlet.backend.ContentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContentServlet</servlet-name>
        <url-pattern>/edit</url-pattern>
        <url-pattern>/file</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EinstellungenServlet</servlet-name>
        <servlet-class>de.uni_tuebingen.ub.nppm.servlet.backend.EinstellungenServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EinstellungenServlet</servlet-name>
        <url-pattern>/einstellungen</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LemmaServlet</servlet-name>
        <servlet-class>de.uni_tuebingen.ub.nppm.servlet.backend.LemmaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LemmaServlet</servlet-name>
        <url-pattern>/lemma</url-pattern>
    </servlet-mapping>

    <!-- SERVLET GROUP 3: MIXED -->
    <servlet>
        <servlet-name>AjaxServlet</servlet-name>
        <servlet-class>de.uni_tuebingen.ub.nppm.servlet.AjaxServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AjaxServlet</servlet-name>
        <url-pattern>/ajax</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <servlet-class>de.uni_tuebingen.ub.nppm.servlet.ForgotPasswordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <url-pattern>/forgotPassword</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>de.uni_tuebingen.ub.nppm.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/gast/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NewPasswordServlet</servlet-name>
        <servlet-class>de.uni_tuebingen.ub.nppm.servlet.NewPasswordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewPasswordServlet</servlet-name>
        <url-pattern>/newPassword</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RESTServlet</servlet-name>
        <servlet-class>de.uni_tuebingen.ub.nppm.servlet.RESTServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RESTServlet</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ShowContentServlet</servlet-name>
        <servlet-class>de.uni_tuebingen.ub.nppm.servlet.ShowContentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowContentServlet</servlet-name>
        <url-pattern>/content</url-pattern>
        <url-pattern>/gast/content</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SolrServlet</servlet-name>
        <servlet-class>de.uni_tuebingen.ub.nppm.servlet.gast.SolrServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SolrServlet</servlet-name>
        <url-pattern>/gast/solr</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>de.uni_tuebingen.ub.nppm.servlet.TestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/TestServlet</url-pattern>
    </servlet-mapping>

    <!-- OTHER SETTINGS -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>

    <!--
        default error page
        (e.g. 404 - "page not found" error for invalid URLs, and others)
    -->
    <error-page>
        <location>/error.jsp</location>
    </error-page>

    <!--
        error page for specific exceptions
        (e.g. ID not found, etc.)
        This needs to be registered in a separage error-page entry even if it's the same template!
    -->
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/error.jsp</location>
    </error-page>

    <listener>
        <listener-class>de.uni_tuebingen.ub.nppm.util.ContextListener</listener-class>
    </listener>
</web-app>
